example@form page

<h1>New Job Application</h1>
<%= form_for @job_application do |f|
# <!-- <form class="new_job_application" id="new_job_application" action="/job_applications" accept-charset="UTF-8" method="post"> -->
  <p>
    # <!-- <label for="job_application_full_name">Full name</label>
    # <input type="text" name="job_application[full_name]" id="job_application_full_name" /> -->

    <%=f.label :full_name %><br>
    <%=f.text_field :full_name %>

  </p>

  <p>

    <%= f.label :job_application_phone %><br>
    <%= f.text_field :job_application_phone %>
    <!-- <label for="job_application_phone">Phone</label>
    <input type="tel" name="job_application[phone]" id="job_application_phone" /> -->
  </p>

  <p>
    <%= f.label :job_application_hobby %><br>
    <%= f.text_field :job_application_hobby %>
    <!-- <label for="job_application_hobby">Hobby</label>
    <input type="text" name="job_application[hobby]" id="job_application_hobby" /> -->
  </p>

  <p>

    <%= f.label :job_application_years_experience %><br>
    <%= f.text_field :job_application_years_experience %>
     <!-- <label for="job_application_years_experience">Years experience</label>
     <input type="number" name="job_application[years_experience]" id="job_application_years_experience" /> -->
  </p>

  <p>
    <%= f.label :job_application_available_date %><br>
    <%= f.text_field :job_application_available_date %>
    <!-- <label for="job_application_available_date">Available date</label> -->
    <!-- <input type="date" name="job_application[available_date]" id="job_application_available_date" /> -->
  </p>

  <p>
    <%= f.submit %>
    <!-- <input type="submit" name="commit" value="Create Job application" /> -->
  </p>

  <%end%>
<!-- </form> -->
